<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark bg-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-body-emphasis" href="/profile">profile</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-body-emphasis" aria-current="page" href="/about">About
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-body-emphasis" href="/product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-body-emphasis" href="/contact">Contact US</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="about-section">
        <h1>Solace hairstore</h1>
        <p>Want to know about us</p>
    </div>
    <div class="row  p-4">
        <div class="col-sm-6 mb-3 mb-sm-0 ps-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align:center"  >Damain Dickson</h5>
              <p class="title" style="text-align:center" >Co Founder</p>
             
              <p style="text-align:center">damindickson@gmail.com</p>
              <a href="./contact" class="btn btn-primary align-middle">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pt-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align:center">Achiaah Agyemang Duah</h5>
              <p class="title" style="text-align:center" >CEO & Founder</p>
             
              <p style="text-align:center">achiaaagyemang@gmail.com</p>
              <a href="./contact" class="btn btn-primary align-items-center">Contact</a>
            </div>
          </div>
        </div>
    </div>
      <div class="footer-basic bg-dark text-center">
        <footer class="footer text-center">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Solace Hairstore © 2024</p>
        </footer>
    </div>
</body>

</html>