<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark bg-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-body-emphasis" href="./profile">profile</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-body-emphasis" aria-current="page" href="/about">About
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-body-emphasis" href="/product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-body-emphasis" href="/contact">Contact US</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="card-group">
        <div class="row row-cols-4 row-cols-lg-5 gap-5 mt-3 ms-5 mb-3 g-lg-4">
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto" src="./image/blackcurls.jpg" alt="image">
                <h5 class="card-title"> Wavy</h5>
                <p class="price"> $99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="./image/blondecurls.jpg" alt="image">
                <h5 class="card-title"> Wavy</h5>
                <p class="price"> $99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/blonde.jpg" alt="Image">
                <h5 class="card-title"> Wavy</h5>
                <p class="price">$99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg7.jpg" alt="Image">
                <h5 class="card-title"> Wavy</h5>
                <p class="price"> $99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg6.jpg" alt="Image">
                <h5 class="card-title"> Wavy</h5>
                <p class="price">$99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg5.jpg" alt="Image">
                <div class="card-body">
                <h5 class="card-title">Goddess</h5>
                <p class="price"> $99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
                </div>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg4.jpg" alt="Image">
                <div class="card-body">
                <h5 class="card-title">Blonde Curls</h5>
                <p class="price">$99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
                </div>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg3.jpg" alt="Image">
                <div class="card-body">
                <h5 class="card-title">Ash Blonde</h5>
                <p class="price"> $99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
            </div>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg2.jpg" alt="Image">
                <div class="card-body">
                <h5 class="card-title">kiky Hair</h5>
                <p class="price">$119</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
                </div>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/bg1.jpg" alt="Image">
                <div class="card-body">
                <h5 class="card-title">bg1</h5>
                <p class="price"> $109</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
                </div>
            </div>
            <div class="card product text-center col-3">
                <img class="card-img-top mx-auto mt-5 p-4" src="../image/ashblonde.jpg" alt="Image">
                <div class="card-body">
                <h5 class="card-title">Ash Blonde</h5>
                <p  class="price">$99</p>
                <a href="/" class="btn btn-dark btn-sm" type="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic bg-dark text-center">
        <footer class="footer text-center">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Solace Hairstore © 2024</p>
        </footer>
    </div>
    <script src="nav.js"></script>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>